body {
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}

.modal_content {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 0;
    line-height: 23px;
    cursor: pointer;
}

.link {
    display: block;
    padding: 0.5rem 1rem;
    color: #06bbcc;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.link:hover,
.link:focus {
    color: #0596a3;
    cursor: pointer;
}
