<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="./style.css" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />

        <!-- Date Range Picker dependencies -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <title>Live Streaming</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5" style="color: lightskyblue">Smart CCTV Streaming</h1>
            <hr />
            <aside class="left_side">
                <div class="menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.naver.com/"> <em>submenu1</em> </a>
                            </li>
                            <li>
                                <a href="https://www.google.co.kr/"> <em>submenu2</em> </a>
                            </li>
                            <li>
                                <a href="https://www.daum.net/"> <em>submenu3</em> </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <div class="row">
                <!-- Title & Video -->
                <div class="col-lg-8 offset-lg-2">
                    <img src="{{ url_for('video_feed') }}" width="100%" />
                </div>

                <!-- Button action form -->
                <div class="col-lg-8 offset-lg-2">
                    <h3 class="mt-5">플라스크 버튼</h3>
                    <form method="post" action="/result">
                        <!-- record start & stop with timer -->
                        {% if rec == false %}
                        <input type="submit" value="녹화시작" name="button" onclick="record_start()" />
                        {% else %}
                        <input type="submit" value="녹화종료" name="button" />
                        <span id="clock" style="color: gray">0:00:00</span>
                        {% endif %}

                        <!-- capture picture -->
                        <input type="submit" value="캡쳐" name="button" />

                        <!-- recording scheduler -->
                        <input type="text" id="scheduler" name="scheduler" value="예약녹화" />
                        <input type="submit" value="예약녹화" name="button" />
                    </form>
                </div>
            </div>
        </div>

        <script>
            // record start & set time in sessionStorage
            function record_start() {
                const startTimeOfRecord = Date.now();
                sessionStorage.setItem("startTimeOfRecord", startTimeOfRecord);
            }

            // show recording time when on-air per 1 minutes
            setInterval(function () {
                const Target = document.getElementById("clock");
                const startTimeOfRecord = parseInt(sessionStorage.getItem("startTimeOfRecord"));

                const recordingTime = new Date();
                const hours = parseInt((recordingTime - startTimeOfRecord) / 1000 / 60 / 60);
                const minutes = parseInt((recordingTime - startTimeOfRecord) / 1000 / 60);
                const seconds = parseInt((recordingTime - startTimeOfRecord) / 1000);

                Target.innerText = `${hours > 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${
                    seconds < 10 ? `0${seconds}` : seconds
                }`;
            }, 1000);

            // Date Range Picker
            $(function () {
                $("#scheduler").daterangepicker({
                    locale: {
                        format: "YYYY-MM-DD HH:mm:ss",
                        separator: " ~ ",
                        applyLabel: "확인",
                        cancelLabel: "취소",
                        fromLabel: "From",
                        toLabel: "To",
                        customRangeLabel: "Custom",
                        weekLabel: "W",
                        daysOfWeek: ["월", "화", "수", "목", "금", "토", "일"],
                        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                        firstDay: 1,
                    },
                    startDate: new Date(),
                    endDate: new Date(),
                    minDate: new Date(),
                    drops: "up",
                    timePicker: true,
                    timePicker24Hour: true,
                    timePickerSeconds: true,
                });
            });
        </script>
    </body>
</html>
