<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />

        <!-- Date Range Picker dependencies -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <title>Live Streaming</title>
    </head>
    <body>
        <div class="footer">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand mb-0 h1" style="color: lightskyblue">Smart CCTV Streaming</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">submenu 1</a>
                        <a class="nav-link" href="#">submenu 2</a>
                        <a class="nav-link" href="#">submenu 3</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container mt-3">
            <div class="row">
                <!-- Title & Video -->
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <img src="{{ url_for('video_feed') }}" width="100%" />

                    <!-- Button action form -->
                    <h3 class="mt-5">플라스크 버튼</h3>
                    <form method="post" action="/result">
                        <!-- record start & stop with timer -->
                        {% if rec == false %}
                        <p>
                            <input type="submit" value="녹화시작" name="button" class="btn btn-outline-primary" onclick="record_start()" />
                        </p>
                        {% else %}
                        <p>
                            <input type="submit" value="녹화종료" class="btn btn-outline-primary" name="button" />
                            <span id="clock" style="color: gray">0:00:00</span>
                        </p>
                        {% endif %}

                        <!-- capture picture -->
                        <p><input type="submit" value="캡쳐" class="btn btn-outline-primary" name="button" /></p>

                        <!-- recording scheduler -->
                        <p>
                            <input type="text" id="scheduler" class="btn btn-outline-primary" name="scheduler" value="예약녹화" />
                            <input type="submit" value="예약녹화" class="btn btn-outline-primary" name="button" />
                        </p>
                    </form>
                    <div id="time" style="color: gray">0:00:00</div>

                    <div id="text">Data Chart</div>
                </div>
            </div>
        </div>

        <script>
            // record start & set time in sessionStorage
            function record_start() {
                const startTimeOfRecord = Date.now();
                sessionStorage.setItem("startTimeOfRecord", startTimeOfRecord);
            }

            // show recording time when on-air per 1 minutes
            setInterval(function () {
                const Time = document.getElementById("time");
                const recordingTime = new Date();
                Time.innerText = recordingTime.toLocaleString();

                const Target = document.getElementById("clock");
                const startTimeOfRecord = parseInt(sessionStorage.getItem("startTimeOfRecord"));

                const hours = parseInt((recordingTime - startTimeOfRecord) / 1000 / 60 / 60);
                const minutes = parseInt((recordingTime - startTimeOfRecord) / 1000 / 60);
                const seconds = parseInt((recordingTime - startTimeOfRecord) / 1000);

                Target.innerText = `${hours > 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${
                    seconds < 10 ? `0${seconds}` : seconds
                }`;
            }, 1000);

            $(document).ready(function () {
                setInterval(function () {
                    $.ajax({
                        type: "get",
                        url: "{{  url_for('data_chart')  }}",
                        dataType: "json",
                        success: function (result) {
                            $("#text").html(JSON.stringify(result, null, 4));
                        },
                    });
                }, 1000 * 0.5);
            });

            // Date Range Picker
            $(function () {
                $("#scheduler").daterangepicker({
                    locale: {
                        format: "YYYY-MM-DD HH:mm:ss",
                        separator: " ~ ",
                        applyLabel: "확인",
                        cancelLabel: "취소",
                        fromLabel: "From",
                        toLabel: "To",
                        customRangeLabel: "Custom",
                        weekLabel: "W",
                        daysOfWeek: ["월", "화", "수", "목", "금", "토", "일"],
                        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                        firstDay: 1,
                    },
                    startDate: new Date(),
                    endDate: new Date(),
                    minDate: new Date(),
                    drops: "up",
                    timePicker: true,
                    timePicker24Hour: true,
                    timePickerSeconds: true,
                });
            });
        </script>
    </body>
</html>
