<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <title>Live Streaming</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h3 class="mt-5">Smart CCTV Streaming</h3>
                    <img src="{{ url_for('video_feed') }}" width="100%" />
                </div>

                <div class="col-lg-8 offset-lg-2">
                    <h3 class="mt-5">플라스크 버튼</h3>
                    <form method="post" action="/result">
                        {% if rec == false %}
                        <input type="submit" value="녹화시작" name="button" onclick="record_start()" />
                        {% else %}
                        <input type="submit" value="녹화종료" name="button" />
                        <span id="clock" style="color: gray; font-size: 100px">clock</span>
                        {% endif %}

                        <input type="submit" value="캡쳐" name="button" />
                        <input type="submit" value="예약녹화" name="button" />
                    </form>
                </div>
            </div>
        </div>

        <script>
            function record_start() {
                const now_time = Date.now();
                sessionStorage.setItem("now_time", now_time);
            }

            function clock() {
                const Target = document.getElementById("clock");
                const record_start = parseInt(sessionStorage.getItem("now_time"));

                const time = new Date();
                const hours = parseInt((time - record_start) / 1000 / 60 / 60);
                const minutes = parseInt((time - record_start) / 1000 / 60);
                const seconds = parseInt((time - record_start) / 1000);

                console.log("시간: ", time);
                console.log("분: ", minutes);
                console.log("초: ", seconds);

                Target.innerText = `${hours > 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${
                    seconds < 10 ? `0${seconds}` : seconds
                }`;
            }
            clock();
            setInterval(clock, 1000); // 1초마다 실행
        </script>
    </body>
</html>
